$color: blue; /* variable "color"*/

%heading2 { /* % means a template style */
    font-size: 18px;
    padding: 20px;
}

ol { 
    li { /* here we created nested styling for list items in ordered lists only*/
    color: $color;
    }
}

h2 {
    @extend %heading2; /* @extend means inherit the style from the heading2 template*/
    background-color: red;
}